.profile {
  padding-top: 20px;
}
.profile-details {
  margin-right: 60px;
  display: inline-block;
  width: 700px;
}
.profile-details > h1 {
  font-size: 36px;
  font-weight: lighter;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 60px;
  margin: 0 auto;
  text-align: center;
}

.profile-name-picture > h1 {
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
  margin-left: 10px;
  margin: 0 auto;
}

#too-big {
  font-size: 18px;
}

.profile > h2 {
  margin-left: 20px;
  margin-top: 30px;
  font-size: 24px;
  font-weight: lighter;
  margin-bottom: 20px;
}

.profile > h2:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 280px;
  display: block;
  height: 1px;
  background: #ccc;
}

.profile-details:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 230px;
  display: block;
  height: 1px;
  background: #ccc;
}

.profile-picture {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

.profile-name-picture {
  float: left;
  width: 50%;
  margin-left: 20px;
  margin-right: 60px;
}

.nav-profile-picture {
  height: 40px;
  width: 40px;
  margin-top: 10px;
  border: 1px solid #ccc;
}

.followed {
  background: #F6F6F6;
}

.follow-button {
  border: 1px solid #ccc;
  padding: 10px 10px;
  width: 100px;
  text-align: center;
  position: absolute;
  top: 235px;
  left: 270px;
}


.not-followed {
  color: #fff;
  background: #FC4C02;
}

.not-followed:hover {
  background-color: #DC4C02;
}
