.activity-feed {
padding: 20px;
width: 500px;
float: left;
}
.activity-feed:before {

}

.activity-feed-title {
  font-size: 36px;
  font-weight: lighter;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.activity-feed-title:before {
  display: block;
  position: absolute;
  height: 1px;
  top: 140px;
  left: 0px;
  right: 0px;
  background: #ccc;
  content: "";
  z-index: 1;
}

.feed-items {
  float: left;
  font-color: #333333;
  font-size: 14px;
  border-left: 1px solid #ccc;
  width: 500px;
}


.feed-item {
  width: 100%;
  /*padding-top: 20px;*/
  padding-left: 20px;
  float: left;
  margin-bottom: 30px;
}


.feed-item-details {
  /*margin-top: -10px;*/
  margin-top: 30px;
  border: 1px solid #ccc;
  /*border-right: 0;*/
  /*border-left: 0;*/
  float: left;
  width: 279px;
  min-height: 105px;
  /*height: 180px;*/
  margin-right: 20px;

}


.feed-item-details > a {

  padding-bottom: 5px;
  padding-left: 20px;
  float: left;
  /*width: 100%;*/
  font-weight: bold;
}

.feed-item-title {
  padding-bottom: 5px;
  padding-left: 20px;
  float: left;
  /*width: 100%;*/
  font-weight: bold;
}

.feed-item-title > a:hover {
  text-decoration: underline;
  color: #0280B7;
}

.feed-item-author {
  padding-left: 20px;
  padding-bottom: 10px;
  float: left;
  width: 100%;
}

.feed-item-stats {
  padding-left: 20px;
  /*width: 200px;*/
  /*float: left;*/
  /*font-weight: bold;*/
}

.feed-item-stats > li {
  padding-right: 20px;
}

.feed-item-time {
  float: left;
}

.feed-item-pace > h5 {
  float: left;
  /*padding: 0;*/
  margin: 0;
  font-size: 14px;
  /*font-weight: normal;*/
  /*font-weight: normal;*/
  padding-bottom: 5px;
}

.feed-item-distance {
  float: left;
}

.feed-item-pace {
  float: left;
}

.feed-item-date {
  font-size: 12px;
  /*display: block;*/
  /*background: #F6F6F6;*/
  background: #F6F6F6;
  font-weight: bold;
  float: left;
  padding: 5px;
  padding-left: 10px;
  padding-right: 20px;
  margin-top: -10px;
  width: 200px;

  /*margin-left: -10px;*/
}

.date-item {
float: left;
width: 100%;
/*padding-top: 20px;*/
margin-top: 20px;
}


.activity-feed-map {
  /*width: 50px;*/
  float: left;
  /*margin-top: -10px;*/
  margin-top: 30px;
  /*padding-bottom: 0;*/
  /*padding-top: 2px;*/
  padding-right: 2px;
  margin-bottom: -5px;
  /*border:1px solid #ccc;*/
  /*border-left: 0;*/
  /*border-left: 1px solid #fff;*/
  /*height: 100%;*/
  /*min-width: 1px;*/
}

.arrow-left {
  margin-top: -10px;
  margin-left: -15px;
  padding-left: 20px;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid #F6F6F6;
  /*display: inline-block;*/
  float: left;
}

.date-circle {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  float:left;
  margin-left: -3px;
  background: #000;
}

.item-circle {

  /*margin-top: 40px;*/
  border-radius: 50%;
  width: 5px;
  height: 5px;
  float:left;
  margin-left: -24px;
  background: #fff;
  box-shadow: 0 0 1px 1px #000;
  margin-right: 600px;
}
.feed-item:hover .item-circle {
  background: #333333;
  box-shadow: 0 0 2px 2px #000;
  transition-duration: .5s;
}

.broken-image-text {
  padding-top: 30px;
}

.load-more {
  margin: 0 auto;
  text-align: center;
}

.load-more > button {
  margin-top: 20px;
  display: block;
  margin: 0 auto;
  padding: 10px 40px;
  background: #FFFFFF;
  border: 1px solid #ccc;
}

.load-more > button:hover {
  background: #F0F0F0;
}
