.main-nav {
  width: 100%;
  position: relative;
  height: 58px;
  z-index: 30;
  background: #fff;
  /*padding: 20px;*/
  border-bottom: 1px solid #ccc;
  min-width: 500px;
}

.logo {
  /*padding: 10px;*/
  margin-top: 10px;
  padding: 20px;
  padding-left: 0px;
  float: left;
  width: 105px;
  height: auto;

  background: url("logo_large_orange.png");
  margin-left: 20px;
  margin-right: 20px;
  /*background-size: 115px 25px;*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-logo {
  /*padding: 10px;*/
  /*margin-top: 10px;
  padding: 20px;*/
  padding-left: 0px;
  margin-bottom: 10px;
  float: left;
  width: 105px;
  height: auto;

  background: url("logo_large_grey.png");
  /*margin-left: 20px;
  margin-right: 20px;*/
  margin: 10px 20px;
  /*background-size: 115px 25px;*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.main-logo {
  margin: 0 auto;
  margin-bottom: 150px;
  /*padding: 10px;*/
  margin-top: 10px;
  padding: 20px;
  padding-left: 0px;
  width: 105px;
  height: auto;
  background: url("logo_large_orange.png");

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.arrow-down {
  margin: 27px 0px 0px 3px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #000000;
  display: inline-block;
}

.nav-profile {
  float: right;
}

.nav-links {
  float: left;
  /*padding: 0 10px;*/
  margin-right: 20px;
}

.nav-link {
  /*background: #000;*/
  position: relative;
  padding-bottom: 20px;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  /*padding: 0 10px 20px 10px;*/
  /*border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #ccc;*/
}
.nav-link > a {
  padding: 20px 20px 20px 20px;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #ccc;
}

.nav-link:hover .dashboard-links {
  display: block;
}
.nav-link:hover .nav-link > a {
  border-bottom: 1px solid #fff;
}
.nav-link:hover {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  /*border-bottom: 1px solid #fff;*/
}
.nav-link:hover {
  color: #FC4C02;
}
.nav-link:hover .arrow-down {
  border-top-color: #FC4C02;
}

.dashboard-links {
  border-top: 1px solid #ccc;
  display: none;
  position: absolute;
  left: -1px;
  top: 58px;
  /*padding-right: 20px;*/
  font-size: 14px;
  white-space: nowrap;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /*overflow: hidden;*/
}
.dash-link {
  width: 200px;
  /*padding: 10px 20px;*/
}

.dash-link > a {
  display: inline-block;
  width: 190px;
  padding: 10px 0;
  padding-left: 10px;
  padding-right: 0;
  margin: 0;
  color: #000;
}

.dash-link:hover {
  background: #ddd;
}
