.profile-nav {
  float: left;
  margin-right: 60px;
  margin-left: 100px;
}

.nav-profile-link {
  position: relative;
  padding-bottom: 20px;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.nav-profile-link > a {
  padding: 20px 20px 20px 20px;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #ccc;
}

.nav-profile-link:hover .nav-profile-link {
  display: block;
}

.nav-profile-link:hover .nav-profile-link > a {
  border-bottom: 1px solid #fff;
}

.nav-profile-link:hover {
  color: #FC4C02;
}

.nav-profile-link:hover .arrow-down {
  border-top-color: #FC4C02;
}

.profile-links {
  border-top: 1px solid #ccc;
  display: none;
  position: absolute;
  left: -1px;
  top: 58px;
  font-size: 14px;
  white-space: nowrap;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.profile-link {
  width: 150px;
}

.profile-link > button {
  display: inline-block;
  width: 190px;
  padding: 10px 0;
  padding-left: 10px;
  padding-right: 0;
  margin: 0;
  color: #000;
}
.profile-link > a {
  display: inline-block;
  width: 190px;
  padding: 10px 0;
  padding-left: 10px;
  padding-right: 0;
  margin: 0;
  color: #000;
}

.profile-link:hover {
  background: #F6F6F6;
}
