.map-controls {
  position: absolute;
  /*top: 0;
  left: 0;*/
  width: 100%;
  min-width: 500px;
  background: #eee;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.route-distance {
  float:left;
  padding: 10px;
}

.route-save-button {
  float: right;
  padding: 10px;
  background: #FC4C02;
  /*border: 1px solid #ccc;*/
  /*border-radius: 4px;*/
  margin-right: 20px;
  color: #fff;
  font-size: 14px;
}

.route-save-button:hover {
  background: #EC4C02;
}

.map-form {
  visibility: hidden;
  position: fixed;
  border-radius: 4px;
  width: 400px;
  /*height: 378px;*/

  /*top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/

  top: 50%;
  left: 50%;
  margin-top: -189px; /* Negative half of height. */
  margin-left: -207px;
  /*margin-left: auto;
  margin-right: auto;
  margin-top: 150px;*/
  background: #eee;
  padding: 5px;
  border: 1px solid #ccc;
  z-index: 100;

}

.map-form-errors {
  float: left;
  /*display: block;*/
  font-size: 12px;
  color: #c00;
  margin: 15px 0 0 0;
  width: 100%;
}
.route-error {
  width: 100%;
  margin: 0 auto;
  padding-top: 2px;
  text-align: center;
  float: none;
}

.map-form-title {
  float: left;
  width: 100%;
  padding-top: 20px;
  text-align: center;
  font-size: 24px;
  color: #000;
}

.map-form-fieldset {
  display: block;
  padding: 20px;


}

.map-input {
  float: left;
  width: 338px;
  padding: 5px 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.map-description {
  float: left;
  padding: 5px 10px;
  width: 338px;
  height: 150px;
  background: #fff;
  border: 1px solid #ccc;
  margin: 20px 0;
  border-radius: 4px;

}

.map-submit {
  float: left;
  width: 174px;
  text-align: center;
  background: #FC4C02;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  color: #fff;
}

.map-cancel {
  float: left;
  width: 174px;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-right: 10px;
  color: #000;
}
.map-cancel:hover {
  background: #eee;
}
.map-submit:hover {
  background: #EC4C02;
}

.map-overlay {
    width  : 100%;
    height : 100%;
    position: absolute;
    background: #000;
    /*display: block;*/
    opacity: .7;
    top: 0px;
    left: 0px;
    z-index: 40;
}
