.route {
  color: #333333;
  padding-left: 20px;
  padding-top: 20px;
  width: 800px;
}

.route-header {
  width: 1000px;
}

.route-details {
  width: 1000px;
  float: left;
}

.route-title {
  float: left;
  font-size: 24px;
  padding-bottom: 20px;
  font-weight: lighter;
}

.route-dis {
  float: left;
  margin-top: 40px;
}

.route-info {
  display: block;
  margin-top: 40px;
}

.route-description {
  margin-left: 740px;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.route-record {
  margin-left: 740px;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.route-dist {
  margin-left: 740px;
  padding: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.route-author {
  margin-left: 740px;
  padding: 20px;
  border-top: 1px solid #ccc;
}

.display-map {
  float: left;
  margin-right: 40px;
}
